{% extends "base1.html" %}

{% block title %}

{% endblock %}
{% block content %}

<main class="login">
    <form method="post" action="{{ url_for('auth.login') }}">
        <div class="mail">
            <h4>メールアドレス</h4>
            <input type="text" name="email" required>
        </div>

        <div class="password">
            <h4>パスワード</h4>
            <input type="text" name="password" placeholder="8文字以上の英数字">
        </div>
        {% if error %}
            <p class="login-error">{{ error }}</p>
        {% endif %}
        <input type="submit" value="ログイン">
    </form>
    <div class="new_register">
        <p>アカウントをお持ちでないですか？</p>
        <input type="submit" value="新規登録" id="new_register">
    </div>

    <p class="register_info">登録することで、ふわすけの<a href="">利用規約</a>および<a href="">プライバシーポリシー</a>に同意したものとみなされます。</p>
    

</main>

{% endblock %}