body{
    font-family: "Roboto", sans-serif;
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    flex-direction: column;
}

.fuwasuke_log{
  p{
    text-align: center;
    img{
      max-width: 200px;
    }
  }
  
}


.menu{
  display: flex;
  justify-content: space-around;
  text-align: center;

  /* 下に固定するための設定 */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px; /* メニューの高さを固定すると安定します */
  z-index: 999;
  .icon{
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center;    /* 左右の中央に寄せる */
    justify-content: center; /* 上下の中央に寄せる */
    flex: 1;
    i{
      font-size: 30px;
      color: #C2C2C2;
      margin-bottom: 5px;
      display: block;
    }
  }
  p{
    font-family: "Roboto", sans-serif;
    color: #C2C2C2;
    font-size: 11px;
  }
}