{% extends "base3.html" %}

{% block title %}

{% endblock %}


{% block content %}
    <head>
        <!-- タイトル -->
        <title>今日のタスク提案</title>
    </head>
    <body class="suggestion_task">
        <div class="container">
            <!-- 見出し -->
            <h1>今日のタスク提案</h1>
            <div class="section">
                <!-- 案内文 -->
                <h2>あなたにぴったりのプランをご提案します</h2>
                <!-- 提案BOX -->
                <div class="box">
                    <p class="total">合計：</p>
                    <!-- 提案リスト -->
                    <ul class="suggestion_list">
                        {% for task in suggestion_list %}
                            <form action="/task" method="post">
                            <li></li>
                            </form>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <form action="" method="post">
                <input type="submit" value="はじめる">
            </form>
        </div>
    </body>
{% endblock %}