{% extends "base3.html" %}

{% block title %}
{% endblock %}

{% block content %}

<div class="container">

    <div class="header">
        <img src="../../static/image/bouhuwasuke.png" class="chara">
        <p class="message">
            今日はたくさんの予定があります。<br>
            しっかりとがんばりましょう。
        </p>
    </div>

    <div class="date">
        <button class="arrow prev">◀</button>
        <button class="arrow next">▶</button>
    </div>

    <div class="progress-box">
        <div class="progress-title">
            <span>今日の達成度</span>
            <span class="percent"></span>
        </div>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <p class="progress-text">✨ あとつのタスクで目標達成です</p>
    </div>

    <button class="main-btn">タスク案を評価する</button>

    <div class="task-header">
        <h3>本日のタスク</h3>
        <a href="#">すべて見る ></a>
    </div>

    <div id="task-list"></div>

</div>
<link rel="stylesheet" href="../../static/css/tsk.css">
{% endblock %}
