<!-- 0224 -->
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/destyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Hina+Mincho&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="fuwasuke_log1">
      {% block header_content %} {% if request.endpoint not in
      ['schedule.schedule_form','schedule.schedule_list'] %}
      <div class="logo">ふわすけ</div>
      {% endif %} {% endblock %}
    </header>

    <turbo-frame id="main-content">
      {% block content %} {% endblock %}
    </turbo-frame>

    <a
      href="{{url_for('schedule.schedule_form')}}"
      class="add-event-btn {% if request.endpoint in ['main.home','main.main_form'] %}is-visible{% endif %}"
    >
      <i class="fa-solid fa-plus"></i>
    </a>

    <div class="menu">
      <a
        href="{{ url_for('main.home') }}"
        class="icon {% if request.endpoint == 'main.home' %}active{% endif %}"
      >
        <p><i class="fa-solid fa-house house_icon"></i></p>
        <p>ホーム</p>
      </a>
      <a
        href="{{ url_for('main.main_form') }}"
        class="icon {% if request.endpoint == 'main.main_form' %}active{% endif %}"
        data-turbo="false"
      >
        <p><i class="fa-solid fa-calendar calender_icon"></i></p>
        <p>カレンダー</p>
      </a>
      <a
        href="{{ url_for('main.mood_graph', user_id=1) }}"
        class="icon {% if request.endpoint == 'main.mood_graph' %}active{% endif %}"
      >
        <p><i class="fa-solid fa-square-poll-vertical report_icon"></i></p>
        <p>レポート</p>
      </a>
      <a
        href="{{ url_for('main.mypage') }}"
        class="icon {% if request.endpoint == 'main.mypage' %}active{% endif %}"
        data-turbo="false"
      >
        <p><i class="fa-solid fa-user user_icon"></i></p>
        <p>マイページ</p>
      </a>
    </div>
  </body>
</html>
